html, body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 100%;
    width: 100%
}
nav a {
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    color: #ffffff;
    margin-top: 0;
    text-decoration: none;
}
ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 1%;
}
ul li {
    display: inline;
}
li {
    margin: 5%;
}
#image {
    width: 100%;
    height: 100%;
    position: relative;
}
img {
    max-width: 50%;
    float: left;
    position: relative;
}
#dog-1-text {
    position: absolute;
    left: 25%;
    top: 50%;
}
#dog-2-text {
    position: absolute;
    right: 25%;
    top: 50%;
}
#vs {
    position: absolute;
    left: 50%;
    top: 50%;
}
