html {
    overflow-y: scroll;
}
html, body {
    background-color: #7dc9ff;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    height: 100%;
    width: 100%
}
nav {
    background-color: #000;
    margin: 0;
    padding: 1%;
    text-align: center;
}
nav a {
    display: inline;
    margin: 0% 5% 0%; /* top, left and right, bottom */
    font-size: x-large;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
#text {
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
}
